body {
    padding: 30px;
    background: rgb(236, 206, 124);
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.btn-class {
    padding: 6px;
    background: rgb(83, 43, 226);
    color: white;
    cursor: pointer;
    display: inline-block;
}

.label-class{
    padding: 6px;
    background: rgb(0, 0, 255);
    color: white;
    display: inline;
}