body {
    padding: 30px;
    background: rgb(236, 124, 231);
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.btn-class {
    padding: 6px;
    background: rgb(43, 153, 226);
    color: white;
    cursor: pointer;
    display: inline-block;
}

